.text-align-c {
  text-align: center;
}

.color-1 {
  color: #650300;
}

.color-2 {
  color: #aa0601;
}

.color-3 {
  color: white;
}

.italic {
  font-style: italic;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.f-direction {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.row {
  margin: 0 -12px;
}

.border-b-1 {
  border-bottom: 1px solid white;
}

.h-100 {
  height: 100%;
}

.pd-4 {
  padding: 16px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-8 {
  padding-top: 32px;
}

.pt-15 {
  padding-top: 60px;
}

.pt-20 {
  padding-top: 80px;
}

.pt-24 {
  padding-top: 96px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-5 {
  padding-bottom: 32px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pb-12 {
  padding-bottom: 48px;
}

.pb-20 {
  padding-bottom: 80px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-8 {
  margin-right: 32px;
}

.mr-12 {
  padding-right: 48px;
}

.mr-16 {
  margin-right: 64px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mb-12 {
  margin-bottom: 48px;
}

.mb-20 {
  margin-bottom: 80px;
}

@include desktop {
  .mb-md-6 {
    margin-bottom: 24px;
  }

  .mr-md-4 {
    margin-right: 16px;
  }

  .w-md-49 {
    width: 49%;
  }
}

@include pad {
  .d-none {
    display: none;
  }

  .w-sm-100 {
    width: 100%;
  }
}

@include mobile {
  .mb-sm-6 {
    margin-bottom: 24px;
  }
}
