<header>
  <div class="header">
    <div class="container d-flex jc-sb f-wrap">
      <a class="img-logo d-block" href="#"
        ><img src="../assets/images/logo-white.png" alt="LOGO"
      /></a>
      <ul class="d-flex ai-c f-wrap w-100">
        <li class="header-item">
          <a href="#">系列鏡框</a>
        </li>
        <li class="header-item">
          <a href="#">門市據點</a>
        </li>
        <li class="header-item">
          <a href="#">部落格</a>
        </li>
        <li class="header-item"><a href="#">常見問題</a></li>
      </ul>
    </div>
  </div>
  <div class="home-header">
    <div class="container home-text">
      <div>
        <p>Promise-Desert 2020 早春系列</p>
        <h1>看得清，才能看得遠</h1>
        <a href="#">立即購買</a>
      </div>
    </div>
  </div>
</header>
