.home-header {
  background-image: url("/assets/images/home-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 787px;
  @include pad {
    background-image: url("/assets/images/home-header-sm.png");
  }
  @include mobile {
    height: 396px;
  }
}

.home-text {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  text-align: right;
  p {
    font-size: 36px;
    color: #650300;
    @include mobile {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 64px;
    color: #650300;
    font-weight: bold;
    @include pad {
      font-size: 60px;
    }
    @include mobile {
      font-size: 24px;
    }
  }
  a {
    font-size: 20px;
    color: #ffffff;
    background: #aa0601;
    padding: 6px 12px;
    &:hover {
      color: #000000;
      background: #dae63c;
    }
  }
}

.helper {
  background: #fbf2f2;
  padding: 80px 0;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  @include desktop {
    width: 50%;
  }
  @include pad {
    width: 100%;
  }
  img {
    width: 84px;
    height: 84px;
  }
}

.glasses {
  padding: 80px 0;
  &-card {
    width: 33.3333%;
    padding: 0 12px;
    @include desktop {
      width: 51%;
    }
    @include pad {
      width: 100%;
    }
  }
}

.design-glasses {
  background: url("/assets/images/index-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 608px;
  padding: 80px 0;
  &-card {
    width: 50%;
    padding: 0 12px;
    h3 {
      background: #fff;
    }
  }
  @include desktop {
    height: 100%;
    &-card {
      width: 100%;
    }
  }
}

.customer {
  padding: 80px 0;
  &-card {
    width: 25%;
    padding: 0 12px;
    @include desktop {
      width: 50%;
    }
    @include mobile {
      width: 100%;
    }
    &-text {
      height: 205px;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      box-shadow: 0px 2px 6px #00000029;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-date {
      color: #707070;
      font-size: 14px;
    }
  }
}

.contect-us {
  background: #fbf2f2;
  padding: 80px 0;
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 636px;
    margin: 0 auto;
    @include pad {
      width: auto;
    }
    p {
      font-size: 20px;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    input {
      padding: 6px 12px;
      line-height: 1.5;
      background: transparent;
      border: 1px solid #000000;
    }
    textarea {
      background: transparent;
    }
  }
}

.submit {
  width: 416px;
  height: 56px;
  margin: 0 auto;
  background: #aa0601;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  @include desktop {
    width: 336px;
  }
  &:hover {
    color: #000000;
    background: #dae63c;
  }
}
