<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section>
      <div class="home-header">
        <div class="container home-text">
          <div>
            <p>Promise-Desert 2020 早春系列</p>
            <h2>看得清，才能看得遠</h2>
            <a href="#">立即購買</a>
          </div>
        </div>
      </div>
      <div class="helper">
        <div class="container">
          <h2 class="h2 mb-6 color-1 text-align-c">用專業的心，做專業的事</h2>
          <ol class="d-flex f-wrap row">
            <li class="card">
              <img
                class="mb-6"
                src="../assets/images/home-section2-1.png"
                alt="單一價格"
              />
              <h3 class="h3 mb-2 color-1 text-align-c">單一價格</h3>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="card">
              <img
                class="mb-6"
                src="../assets/images/home-section2-2.png"
                alt="20 分鐘即可取件"
              />
              <h3 class="h3 mb-2 color-1 text-align-c">20 分鐘即可取件</h3>
              <p>
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </li>
            <li class="card">
              <img
                class="mb-6"
                src="../assets/images/home-section2-3.png"
                alt="安心售後服務"
              />
              <h3 class="h3 mb-2 color-1 text-align-c">安心售後服務</h3>
              <p>
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>
            <li class="card">
              <img
                class="mb-6"
                src="../assets/images/home-sectioin2-4.png"
                alt="關於鏡片"
              />
              <h3 class="h3 mb-2 color-1 text-align-c">關於鏡片</h3>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ol>
        </div>
      </div>
      <div class="glasses">
        <div class="container">
          <h2 class="h2 mb-12 color-1 text-align-c">經典系列鏡框</h2>
          <ol class="d-flex f-wrap row">
            <li class="glasses-card column">
              <img src="../assets/images/home-section3-1.png" alt="OPTICAL" />
              <h3 class="h2 color-2 italic text-align-c">OPTICAL</h3>
            </li>
            <li class="glasses-card column">
              <img
                src="../assets/images/home-section3-2.png"
                alt="SUNGLASSES"
              />
              <h3 class="h2 color-2 italic text-align-c">SUNGLASSES</h3>
            </li>
            <li class="glasses-card">
              <img
                src="../assets/images/home-section3-3.png"
                alt="FUNCTIONAL"
              />
              <h3 class="h2 color-2 italic text-align-c">FUNCTIONAL</h3>
            </li>
          </ol>
        </div>
      </div>
      <div class="design-glasses">
        <div class="container">
          <h2 class="h2 mb-12 color-3 text-align-c">聯名設計鏡框</h2>
          <ol class="d-flex f-wrap row">
            <li class="design-glasses-card column">
              <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+" />
              <h3 class="h2 color-2 italic text-align-c">DOUBLE A+</h3>
            </li>
            <li class="design-glasses-card">
              <img src="../assets/images/home-section4-2.png" alt="YOUTH" />
              <h3 class="h2 color-2 italic text-align-c">YOUTH</h3>
            </li>
          </ol>
        </div>
      </div>
      <div class="customer">
        <div class="container">
          <h2 class="h2 mb-12 color-1 text-align-c">顧客推薦</h2>
          <ol class="d-flex f-wrap row">
            <li class="customer-card column">
              <img src="../assets/images/home-section5-1.png" alt="Jessy" />
              <div class="pd-4 customer-card-text">
                <div>
                  <p>Jessy</p>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <p class="customer-card-date">2021/06/20</p>
              </div>
            </li>
            <li class="customer-card column">
              <img src="../assets/images/home-section5-2.png" alt="凱倫" />
              <div class="pd-4 customer-card-text">
                <div>
                  <p>凱倫</p>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                </div>
                <p class="customer-card-date">2021/04/18</p>
              </div>
            </li>
            <li class="customer-card">
              <img src="../assets/images/home-section5-3.png" alt="Jessy" />
              <div class="pd-4 customer-card-text">
                <div>
                  <p>悠悠</p>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                </div>
                <p class="customer-card-date">2020/12/25</p>
              </div>
            </li>
            <li class="customer-card">
              <img src="../assets/images/home-section5-4.png" alt="Jessy" />
              <div class="pd-4 customer-card-text">
                <div>
                  <p>Kyuan</p>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <p class="customer-card-date">2020/10/31</p>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="contect-us">
        <div class="container">
          <h2 class="h2 mb-12 color-1 text-align-c">聯絡我們</h2>
          <div class="contect-us-card">
            <p class="mb-6">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <div class="contect-us-text mb-4">
              <label class="mb-2" for="name">姓名</label>
              <input id="name" type="text" placeholder="陳小明" />
            </div>
            <div class="contect-us-text mb-4">
              <label class="mb-2" for="tel">連絡電話</label>
              <input id="tel" type="tel" placeholder="0912-345-678" />
            </div>
            <div class="contect-us-text mb-4">
              <label class="mb-2" for="email">電子郵件</label>
              <input id="email" type="email" placeholder="example@email.com" />
            </div>
            <div class="contect-us-text mb-4 question">
              <label class="mb-2" for="Opinion">意見反應</label>
              <input id="Opinion" type="text" placeholder="請輸入您的意見" />
            </div>
            <div class="mb-12">
              <input id="checkbox" type="checkbox" />
              <label for="checkbox"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>
            <button class="submit" type="submit">確認送出</button>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
